section {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    float: left;
    margin: 50px;
    perspective: 400px; /*원근감 부여 */
}

section article {
    width: 100%;
    height: 100%;
    background: blue;
    opacity: 0.3;
}

section:nth-child(1) article {
    transform: rotateY(120deg);
    transform-origin: center center;
}

section:nth-child(2) article {
    transform: rotateY(120deg);
    transform-origin: right center;
}
